*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif, serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
   
}

.hero{
    background: url(../img/laptop.jpg) no-repeat center/cover;
   
     
}

.hero__text-content{
    max-width: 646px;
 }
.hero__title{
    font-size: 3.75rem;
    margin-bottom: 30px;

}
.hero__subtitle{
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.25rem;
    font-style: normal;
    margin-bottom: 30px;
}
.hero__text a {
    color: #000;
    margin-left: 10px;

}
.hero__card{
    margin-top: 50px;
    background-color: #f2f2f2ac;
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
}
.hero__card-content-title{
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.2;
    margin: 30px 0;
}
.hero__content-subtitle{
    font-style: italic;
    font-size: 1rem;
    margin: 25px 0 0;
    width: 202px;
}
.footer{
    background-color: #333333;
    margin-top: 100px;
  
}
.footer_block{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.color_text{
    color: #fff;
}
.color_text a{
    color: #adcce9;
}


/*
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/grid.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    
 
    <section class="hero">
        <div class="container">
            <div class="hero__text-content">
                <h1 class="hero__title">Epic design and engineering</h1>
                <p class="hero__subtitle">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p class="hero__text">Image from  <a href="#">Freepic</a> </p>
            </div>

                

            <div class="hero__card">
                
                    <div class="col-4">
                        <div class="hero__card-content">
                            <div>
                                <img src="./img/presence-of-mind-blue-circle.png" height="70" width="70" alt="">
                                <p class="hero__card-content-title">Strategy</p>
                                <p class="hero__content-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="hero__card-content">
                            <div>
                                <img src="./img/presence-of-mind-blue-circle.png" height="70" width="70" alt="">
                                <p class="hero__card-content-title">Strategy</p>
                                <p class="hero__content-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="hero__card-content">
                            <div>
                                <img src="./img/presence-of-mind-blue-circle.png" height="70" width="70" alt="">
                                <p class="hero__card-content-title">Strategy</p>
                                <p class="hero__content-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="hero__card-content">
                            <div>
                                <img src="./img/presence-of-mind-blue-circle.png" height="70" width="70" alt="">
                                <p class="hero__card-content-title">Strategy</p>
                                <p class="hero__content-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="hero__card-content">
                            <div>
                                <img src="./img/presence-of-mind-blue-circle.png" height="70" width="70" alt="">
                                <p class="hero__card-content-title">Strategy</p>
                                <p class="hero__content-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="hero__card-content">
                            <div>
                                <img src="./img/presence-of-mind-blue-circle.png" height="70" width="70">
                                <p class="hero__card-content-title">Strategy</p>
                                <p class="hero__content-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>

        <footer class="footer">
            <div class="footer_block">
                <p class="color_text"><a href="">Website Templates </a>
                    
                    
                    created with 
                    
                    
                    <a href=""> Website Builder Software.</a></p>
            </div>
        </footer>
    </section>
</body>
</html>


*/